html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
body *, body *:before, body *:after { box-sizing: inherit; }